<section class="content">
    <section id="bond-detail" class="scrollpane">

        <div class="view-padding">
            <header>
                <h2>ADD TO YOUR CREW THROUGHOUT THE NIGHT.</h2>
                <br><br>
                <h2>Copy and share this code with anyone:</h2>
            </header>
            <div class="copyCodeField">
                <div class="code">
                    <h1>{{code}}</h1>
                </div>
                <button class="copyBtn orange" {{action "copyCode" code}}>COPY</button>
                <span class="copied"><p>COPIED!</p></span>
            </div>

            <header>
                <h2>Add more friends through Facebook:</h2>
            </header>
            <button class="addMoreFriends orange">ADD MORE FRIENDS</button>
        </div>

        <header class="list-header">
            <h3>Already in ({{totalAccepted}})</h3>
        </header>
        <ul class="friendlist">
            {{#each invites}}
                {{#if status}}
                    {{#if user.$ref}}
                        <li class="friend">
                            <img class="fb-profile-picture" src="http://graph.facebook.com/{{unbound userId}}/picture">
                            <h2 class='name'>{{userId}}</h2>
                        </li>
                    {{/if}}
                {{/if}}
            {{/each}}

            {{#each invites}}
                {{#if status}}
                    {{#unless user.$ref}}
                        <li class="friend">
                            <img class="fb-profile-picture" src="http://graph.facebook.com/{{unbound userId}}/picture">
                            <h2 class='name'>{{user.firstName}}</h2>
                        </li>
                    {{/unless}}
                {{/if}}
            {{/each}}
        </ul>

        {{#if totalPending}}
            <header class="list-header">
                <h3>Thinking about it ({{totalPending}})</h3>
            </header>
            <ul class="friendlist">
                {{#each invites}}
                    {{#unless status}}
                        {{#if user.$ref}}
                            <li class="friend">
                                <img class="fb-profile-picture" src="http://graph.facebook.com/{{unbound userId}}/picture">
                                <h2 class='name'>{{userId}}</h2>
                            </li>
                        {{/if}}
                    {{/unless}}
                {{/each}}

                {{#each invites}}
                    {{#unless status}}
                        {{#unless user.$ref}}
                            <li class="friend">
                                <img class="fb-profile-picture" src="http://graph.facebook.com/{{unbound userId}}/picture">
                                <h2 class='name'>{{user.firstName}}</h2>
                            </li>
                        {{/unless}}
                    {{/unless}}
                {{/each}}
            </ul>
        {{/if}}

        {{#if totalRejected}}
            <header class="list-header">
                <h3>Definitely out ({{totalRejected}})</h3>
            </header>
            <ul class="friendlist">
                {{#each invites}}
                    {{#unless status}}
                        {{#if user.$ref}}
                            <li class="friend">
                                <img class="fb-profile-picture" src="http://graph.facebook.com/{{unbound userId}}/picture">
                                <h2 class='name'>{{userId}}</h2>
                            </li>
                        {{/if}}
                    {{/unless}}
                {{/each}}

                {{#each invites}}
                    {{#unless status}}
                        {{#unless user.$ref}}
                            <li class="friend">
                                <img class="fb-profile-picture" src="http://graph.facebook.com/{{unbound userId}}/picture">
                                <h2 class='name'>{{user.firstName}}</h2>
                            </li>
                        {{/unless}}
                    {{/unless}}
                {{/each}}
            </ul>
        {{/if}}

    </section>
</section>