<section class="content">
    {{#if loggedIn}}

        <!-- DASHBOARD -->
        <section id="dash" class="scrollpane">
            <!-- Create and Join bond by code buttons always present -->
            <div class="actions">
                <button class="createBond orange span6" {{action "goToCreateBond"}}><span class="icon"></span>CREATE A BOND</button>
                <button class="enterCode orange span6" {{action "goToEnterBondCode"}}><span class="icon"></span>ENTER A CODE</button>
            </div>

            {{#if hasBonds}}
                <header class="list-header">
                    <h3>Bonds Going On</h3>
                    <span class="caret"></span>
                </header>

                <ul>
                    <!-- BOND STARTED -->
                    {{#with controllers.bonds.content as user}}
                        {{#each bond in controllers.bonds.content.bonds}}
                            <li class="bond-list-item">
                                <img class="fb-profile-picture" src="http://graph.facebook.com/{{unbound bond.ownerId}}/picture">

                                <span class="bond-info">
                                    <h1 class="name">{{bond.name}}</h1>
                                    <span class="info">
                                        <span class="started-by">Started by {{user.firstName}} {{user.lastName}}.</span>
                                        <span class="end-time">Ends {{timestamp bond.ended}}</span>
                                    </span>
                                </span>

                                <button class="caret-right" {{action "goToDetails" bond.id}}></button>
                            </li>
                        {{/each}}
                    {{/with}}

                    <!-- BONDS INVITED TO -->
                    {{#each controllers.bonds.content.invites}}
                        {{#if invitedByUser}}
                            <li class="bond-list-item">
                                <img class="fb-profile-picture" src="http://graph.facebook.com/{{unbound invitedByUser.id}}/picture">

                                <span class="bond-info">
                                    <h1 class="name">{{invitedByUser.bonds.0.name}}</h1>

                                    <span class="info">
                                        <span class="started-by">Started by {{invitedByUser.firstName}} {{invitedByUser.lastName}} with {{invitedByUser.invites.length}} others</span>
                                        <span class="end-time">Ends {{timestamp created}}</span>
                                    </span>

                                    {{#if invitedByUser.id}} <!-- If this is the bond you're invited to -->
                                        <button class="grey">I'M OUT</button>
                                        <button class="orange pull-right">I'M IN</button>
                                    {{/if}}
                                </span>

                                <button class="caret-right" {{action "goToDetails" bondId}}></button>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>

                <!-- FINISHED BONDS -->
                {{#if hasFinishedBonds}}
                    <header class="list-header">
                        <h3>Your Legendary Nights</h3>
                        <span class="caret"></span>
                    </header>

                    <ul>
                        {{#each bond in controllers.bonds.content.bonds}}
                            {{#if bond.status }}
                                <li class="bond-list-item">
                                    <img class="fb-profile-picture" src="http://graph.facebook.com/{{unbound bond.ownerId}}/picture">

                                <span class="bond-info">
                                    <h1 class="name">{{bond.name}}</h1>
                                    <span class="info">
                                        <span class="started-by">Started by {{user.firstName}} {{user.lastName}}.</span>
                                        <span class="end-time">Ended: {{timestamp bond.ended}}</span>
                                    </span>
                                </span>

                                    <button class="caret-right" {{action "goToDetails" bond.id}}></button>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                {{/if}}

                <!-- DELETED BONDS -->
                {{#if hasDeletedBonds}}

                {{/if}}


            {{else}}
                <!-- if user is new/have no bonds, show the welcome message -->
                <div class="welcome-message-container view-padding">
                    <div class="welcome-message">
                        <!--<h3>Invites : {{content.invites.length}}</h3>-->

                        {{#if hasInvites}}
                            <h2>YOU HAVE {{content.invites.length}} BOND REQUESTS ></h2>
                        {{/if}}

                        <h1>STORIES TOLD TOMORROW<br> MUST BE WRITTEN TONIGHT.</h1>
                        <h2>A J&auml;gerbond is formed between friends. from first shot to last call, the pictures, videos and posts your group shares are captured and turned into the most epic highlight reel of your night</h2>
                        <h1>#JAGERBONDS</h1>
                    </div>
                </div>
            {{/if}}
        </section>

    {{else}} <!-- NOT LOGGED IN, SHOW FACEBOOK SIGN IN -->

        <section id="sign-in" class="scrollpane view-padding">
            <h1>CREATE TOMORROW'S<br> LEGENDS TONIGHT</h1>

            <h2><span class="icon fb-instagram"></span> CONNECT YOUR SOCIAL NETWORKS</h2>
            <h2><span class="icon friends"></span> INVITE YOUR FRIENDS</h2>
            <h2><span class="icon video"></span> TURN YOUR NIGHT OUT INTO A VIDEO</h2>

            <button class="fb-connect-btn" {{action 'login'}}>
                <span class="facebook-logo"></span>
                <span class="text"><p>SIGN IN WITH FACEBOOK</p></span>
            </button>
        </section>

    {{/if}}
</section>