<section class="content">
    <h1>{{ view.header1 }}</h1>
    <h2>{{ view.body1 }}</h2>
    <br>
    <h1>{{ view.header2 }}</h1>
    <h2>{{ view.body2 }}</h2>
    <br><br>
    <button class="orange" {{action 'gotIt'}}>
        OK, GOT IT
    </button>
</section>