<ul id="data" class="friendlist">
    {{#each}}
        <li class="friend" {{bindAttr data-fb-id="id"}}>
            <img class="fb-profile-picture" src="http://graph.facebook.com/{{unbound id}}/picture">
            <h2 class='name'>{{name}}</h2>
            <!--<p class="id hidden">{{id}}</p>-->

            {{view JagerBondsApp.CheckBubbleView tagName="span" class="isSelected check-bubble"}}
        </li>
    {{/each}}
</li>